# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
env/
venv/
*.env

# Model files
*.pt
*.pth
*.h5
outputs/
models/

# Logs
logs/

# Data
data/raw/
data/processed/
data/train_valid_split/

# System files
.DS_Store
Thumbs.db

# Configurations
config.yaml
